/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
button{
    padding: 14px 23px;
    background-color: #FF5959;
    border-radius: 5px;
    margin-top: 13px;
    border: 0;
}
button a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.container-margin{
    margin-top: 130px;
    margin-bottom: 130px;
}
.title{
 font-size: 45px;
 color: #121212;
}
.paragraph-style{
    color: #8b8989;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/* header style */
.container {
    position: relative;
}
.header-background-image {
    background-image: url("images/donation1.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 100vh;
}
.align-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.slide-content{
    color: #fff; 
    width: 100%;  
}

.slide-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 4rem;    
}
.slide-content p{
    font-weight: 300;
    font-size: 17px;
    line-height: 1.5;
}


/* Donated Today style */
.donated-today{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.amount-tk{
    display: flex;
    justify-content: space-between;
    width: 58%;
    margin: -15px auto;
}
.tk-style {
    font-size: 30px;
    padding: 36px 19px;
    background-color: #FAFAFA;
    color: #707070;
    border-radius: 5px;
    transition: .3s;
}
.tk-style:hover{
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}
.tk-input input[type=text] {
    width: 50%;
    height: 27px;
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
  }
  .tk-input input:focus {
    outline: none;
}
::placeholder {
    color: #B3B3B3;
    font-size: 16px;
  }

  /* Donate plan style */
  .donate-plans {
    display: flex;
    padding: 0px 117px;
    justify-content: space-between;
    margin-top: 50px;
}
.donate-single-plan {
    text-align: left;
    width: 27%;
    padding: 47px 26px;
    border-radius: 5px;
}
  .plan-one{
    background-color: rgb(79, 157, 166, 10%);
  }
  .plan-two{
    background-color: rgb(255, 89, 89, 10%);
  }
  .plan-three{
    background-color: #FFF4D6;
  }
  .donatePlan-paragraph-style{
    font-size: 16px;
    color: #8b8989;
    font-family: 'Poppins', sans-serif;
  }

  /* Depend on donation style */
  .depend-on-donation {
    display: flex;
    justify-content: center;
}
  .depend-on-donation-text {
    width: 36%;
    padding-right: 95px;
}
.depend-on-donation-image img{
    border-radius: 7px;
}

/* Need for survive style */
.need-for-survive-text{
    width: 36%;
    padding-left: 95px;
}